---
import Layout from "../Layout.astro";

import Lethal from "@/components/Lethal.astro";
import Omnibar from '@/components/Omnibar.astro';
---
<Layout>
  <div class="flex">
    <Lethal/>

              <main class="flex-grow">
        <Omnibar class="p-8" />
    <div id="frames">
      <iframe id="uv-frame" x-ref="frame"></iframe>

    </div>
    </main>
              

</Layout>
