---
import Layout from "../Layout.astro";
// TabStrip import removed
import Lethal from "@/components/Lethal.astro";
import Omnibar from '@/components/Omnibar.astro';
---
<Layout>
  <div class="flex h-screen"> {/* Added h-screen to ensure full viewport height for the flex container */}
    <Lethal/> {/* Assuming Lethal is like a sidebar, or it's handled by its own styling */}
    <main class="flex flex-col flex-grow"> {/* main is now a flex column and still grows */}
      <Omnibar class="p-2 md:p-4" /> {/* Adjusted padding for Omnibar, can be tweaked */}
      <div id="frames" class="w-full flex-grow relative"> {/* flex-grow will make it take available space in flex-col parent */}
        <iframe id="uv-frame" class="w-full h-full border-0 absolute top-0 left-0"></iframe> {/* absolute positioning within relative parent */}
      </div>
    </main>
  </div>
</Layout>
<!-- All tab-related JavaScript has been removed. -->
