---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---
<center>
  <button class="h-6 w-6 transition-transform duration-500 hover:rotate-12">
    <Icon name="tabler:arrow-narrow-right" />
  </button>
</center>
